<div
    class="nav"
    [ngClass]="{'collapsed': hasScrolled}"
>
    <div class="logo-container">
        <img
            src="../../../assets/images/Rustic Bakes Logo.png"
            alt=""
        > Rusctic Bakes
    </div>
    <div id="nav-toggle" [class.open]="mobileShowNav" (click)="toggleNav()"></div>
    <div class="links-container" [class.open]="mobileShowNav">
        <a
            href=""
            class="nav-link"
        >About Us</a>
        <a
            href=""
            class="nav-link"
        >Contact Us</a>
    </div>
</div>