<div class="bg"></div>
<div class="splash">
  <img class="splash-logo"
       src="../../../assets/images/Rustic Bakes Logo 2.png"
       alt="">
</div>
<section class="product-section">
  <div *ngFor="let product of products; let i = index"
       class="product2-container">
    <div class="product2"
         (click)="showProduct(i)">
      <div class="product-text-overlay"
           [ngStyle]="{'background-image': 'url(\''+product.Image+'\')'}">{{product.Name}}</div>
    </div>
  </div>
</section>

<div *ngFor="let product of products; let i = index"
     class="product-panel"
     [class.show]="shownProduct == i">
  <div class="container">
    <div class="close"
         (click)="showProduct(-1)">x</div>
    <div class="product-grid">
      <div class="image">
        <div class="img-container">
          <img src="{{product.FloatImage}}"
               alt="">
        </div>
      </div>
      <div class="name">{{product.Name}}</div>
      <div class="desc">{{product.Description}}</div>
      <div class="price">R{{product.Price}}</div>
    </div>
  </div>
</div>
