@import '../../styles/vars';

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: url('../../../assets/images/BG.png');
  background-size: cover;
  background-repeat: 0;
  background-position: center center;
  z-index: -1;
}

p {}

section {
  width: 100vw;

}

.product-section {
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.product-container {
  padding: 14px;

  .product {
    background-color: lighten($mainPink, 13);
    border-radius: 7px;
    height: 280px;
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.3);
    margin-top: 21px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.4);
    }

    &::after {
      position: absolute;

    }

    .row {
      height: 100%;
    }

    .product-info {
      padding: 14px;
      position: relative;
      height: 100%;

      .name {
        position: relative;

        span {
          z-index: 1;
          position: relative;
        }

        &::before {
          content: '';
          position: absolute;
          height: 120%;
          width: 120%;
          top: -10%;
          left: -10%;
          background-color: $mainPink;
          z-index: 0;
        }
      }

      .description {}

      .price {
        position: absolute;
        font-size: 42px;
        text-align: right;
        top: 100%;
        right: 28px;
        transform: translateY(-70px);
      }
    }

    .product-img {
      background-image: url('../../../assets/images/Banner.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}


.splash {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-top: -$navHeight;

  .splash-logo {
    filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.7));
    width: 70vmin;
    opacity: 0;
    animation: fadeIn 2.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.product2-container {
  &:nth-of-type(odd) {
    .product2 {
      background-color: white;
    }
  }

  .product2 {
    overflow-y: hidden;
    position: relative;
    background-image: url('../../../assets/images/repeatingBg.png');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 140px 140px;
    background-color: $mainPink;


    .product-text-overlay {
      background-clip: text;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      color: transparent;
      font-size: 315px;
      line-height: 315px;
      padding: 35px 14px 56px 14px;
      background-image: url('../../../assets/images/BG.png');
      background-position: center;
      background-size: cover;
      background-attachment: local;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7));

      @media screen and (max-width: 700px) {
        font-size: 84px;
        line-height: 84px;
        padding: 35px 14px 56px 14px;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
      }
    }

  }
}

.product-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: $navHeightCollapsed 14px;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  background-color: $mainPink;
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

  .container {
    position: relative;
    height: 100%;
  }

  &.show {
    transform: translateY(0%);
  }

  .close {
    position: absolute;
    top: 21px;
    right: 21px;
    font-size: 84px;
    cursor: pointer;

    @media screen and (max-width: 700px) {
      top: 7px;
      right: 7px;
      font-size: 35px;

    }
  }

  .product-grid {
    display: grid;
    grid-template-areas:
      'name name name name name'
      'img img desc desc desc'
      'img img desc desc desc'
      'img img desc desc desc'
      '. . price price price';
    width: 100%;
    height: 100%;
    place-items: center;

    @media screen and (max-width: 700px) {

      grid-template-areas:
        'name'
        'img'
        '.'
        'desc'
        'desc'
        'price';

    }

    .name {
      text-align: center;
      font-size: 84px;
      grid-area: name;

      @media screen and (max-width: 700px) {
        font-size: 42px;
      }
    }

    .desc {
      grid-area: desc;
      font-size: 42px;

      @media screen and (max-width: 700px) {
        font-size: 21px;
      }
    }

    .price {
      grid-area: price;
      font-size: 70px;
      text-align: right;
    }

    .image {
      grid-area: img;
      position: relative;

      .img-container {
        position: relative;

        @media screen and (max-width: 700px) {
          transform: scale(0.8) translateY(-15%);
        }

        img {
          width: 80%;
          margin-left: 10%;
          animation: float 3s ease-in-out infinite alternate;
        }

        &::after {
          content: '';
          position: absolute;
          top: 95%;
          left: 15%;
          width: 70%;
          height: 21%;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 100%;
          filter: blur(21px);
          animation: floatShadow 3s ease-in-out infinite alternate;
        }
      }
    }
  }
}

@keyframes float {
  from {
    transform: translateY(-2%);
  }

  to {
    transform: translateY(2%);
  }
}

@keyframes floatShadow {
  from {
    transform: scale(1.1);
  }

  to {
    transform: translateY(0.9);
  }
}
