/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './app/styles/vars';

html, body {
    margin: 0;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
body{
    padding-top: $navHeight;
}